<form class="row">
    <div class="form-group col-md-5">
        <label for="">Task</label>
        {{input value=description class="form-control" placeholder="Task Description"}}
    </div>

    <div class="form-group col-md-5">
        <label for="">Date</label>
        {{input value=deadline class="form-control" placeholder="Deadline Date"}}
    </div>

    <div class="form-group col-md-2">
        <label for="">Ação</label>
        <button {{action (route-action 'save' description deadline)}} class="btn btn-block btn-primary" type="submit">Add</button>
    </div>
</form>

<hr>